<div class="title">Features</div>

{{input type="text" placeholder="Feature name" value=newName}}
<button type="button" class="create-button" onclick={{action "onCreateFeature" newName}}>Create Feature</button>

{{log-window}}

<div class="list">
{{#if model}}
<table>
<tr>
    <th>Feature name</th>
    <th>Tests</th>
    <th>Actions</th>
</tr>
{{#each model as |feature|}}
<tr class="feature-entry">
    <td>{{#link-to "feature" feature.id class="feature-list-link"}}{{feature.name}}{{/link-to}}</td>
    <td>{{feature.tests.length}}</td>
    <td>
        <button type="button" class="action-button" onclick={{action "onRenameFeature" feature.id newName}}>Rename</button>
        <button type="button" class="action-button" onclick={{action "onDeleteFeature" feature.id}}>Delete</button>
    </td>
</tr>
{{/each}}
</table>
{{else}}
<div class="no-content">Sorry my dude, no features to show.</div>
{{/if}}
</div>

{{outlet}}