<div class="navigation">{{#link-to "features"}}Features{{/link-to}} &gt; {{model.name}}</div>

<div class="title">{{model.name}}</div>

{{input type="text" placeholder="Test name" value=newName}}
<button type="button" class="create-button" onclick={{action "onCreateTest" model.id newName}}>Create Test</button>

{{log-window}}

<div class="list">
{{#if model.tests}}
<table>
<tr>
    <th>Test name</th>
    <th>Status</th>
    <th>Actions</th>
</tr>
{{#each model.tests as |test|}}
<tr class={{test.cssForStatus}}>
    <td>{{test.name}}</td>
    <td>{{test-status
        id=test.id
        status=test.validStatus
        onTestStatusChanged=(action "onTestStatusChanged")}}</td>
    <td>
        <button type="button" class="action-button" onclick={{action "onRenameTest" test.id newName}}>Rename</button>
        <button type="button" class="action-button" onclick={{action "onDeleteTest" test.id}}>Delete</button>
    </td>
</tr>
{{/each}}
</table>
{{else}}
<div class="no-content">This feature contains no tests.</div>
{{/if}}
</div>

{{outlet}}