<div class="title">{{model.name}}</div>

{{#link-to 'features'}}Back to features list{{/link-to}}

<div class="list">
{{#if model}}
<table>
<tr>
    <th>Test name</th>
    <th>Status</th>
</tr>
{{#each model.tests as |test|}}
<tr>
    <td>{{test.name}}</td>
    <td>{{test.state}}</td>
</tr>
{{/each}}
</table>
{{else}}
    This feature contains no tests.
{{/if}}
</div>

{{outlet}}