<div class="navigation">{{#link-to "features"}}Feature{{/link-to}} &gt; {{model.name}}</div>

<div class="title">{{model.name}}</div>

<div class="list">
{{#if model}}
<table>
<tr>
    <th>Test name</th>
    <th>Status</th>
</tr>
{{#each model.tests as |test|}}
<tr class={{test.cssForStatus}}>
    <td>{{test.name}}</td>
    <td>{{test-status
        id=test.id
        status=test.validStatus
        valuesForStatus=valuesForStatus
        testStatusChanged=(action "testStatusChanged")}}</td>
</tr>
{{/each}}
</table>
{{else}}
    This feature contains no tests.
{{/if}}
</div>

{{outlet}}