<select onchange={{action (action "testStatusChanged" id) value="target.value"}}>
{{#if (equals status valuesForStatus.statusUndefined)}}
    <option value={{valuesForStatus.statusUndefined}} selected>Undefined</option>
{{else}}
    <option value={{valuesForStatus.statusUndefined}}>Undefined</option>
{{/if}}
{{#if (equals status valuesForStatus.statusPassed)}}
    <option value={{valuesForStatus.statusPassed}} selected>Passed</option>
{{else}}
    <option value={{valuesForStatus.statusPassed}}>Passed</option>
{{/if}}
{{#if (equals status valuesForStatus.statusFailed)}}
    <option value={{valuesForStatus.statusFailed}} selected>Failed</option>
{{else}}
    <option value={{valuesForStatus.statusFailed}}>Failed</option>
{{/if}}
</select>