<select onchange={{action (action "onTestStatusChanged" id) value="target.value"}}>
    <option value={{valueForStatus.statusUndefined}} selected={{equals status valueForStatus.statusUndefined}}>Undefined</option>
    <option value={{valueForStatus.statusPassed}} selected={{equals status valueForStatus.statusPassed}}>Passed</option>
    <option value={{valueForStatus.statusFailed}} selected={{equals status valueForStatus.statusFailed}}>Failed</option>
</select>